In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
# create file path
path_2 = "Resources/enter_2007.csv"
file = pd.read_csv(path_2,skiprows =1)
# view the total list of columns
pd.options.display.max_columns = 100
print(pd.options.display.max_columns)
# view first 5 rows of the data
df= pd.DataFrame(file)
# Rename columns
df.head()
type(df)

100

pandas.core.frame.DataFrame

In [4]:
df= df.rename(columns={"Geographic area name":"State","Meaning of 2007 NAICS code":"Sector", 
                        "Meaning of Gender code":"Gender owned", "Meaning of Race code": "Race",
                         "Number of firms with or without paid employees":"Firms",
                         "Sales, receipts, or value of shipments of firms with or without paid employees ($1,000)":"Total Firm Sales",
                         "Number of firms with paid employees":"Paid Emp Firms", "Sales, receipts, or value of shipments of firms with paid employees ($1,000)":"Paid Emp Sales",
                         "Annual payroll ($1,000)":"Annual Payroll", "Number of firms without paid employees":"Unpaid Emp Firms",
                         "Sales, receipts, or value of shipments of firms without paid employees ($1,000)": "Unpaid Emp Sales", "Meaning of Ethnicity code":"Ethnicity"
                        })

df.head(10)

,Geographic identifier code,Id2,State,2007 NAICS code,Sector,Gender code,Gender owned,Ethnicity code,Ethnicity,Race code,Race,Year,Firms,Total Firm Sales,Paid Emp Firms,Paid Emp Sales,Number of paid employees for pay period including March 12,Annual Payroll,Unpaid Emp Firms,Unpaid Emp Sales,Relative standard error of number of firms with or without paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms with or without paid employees (%)",Relative standard error of number of firms with paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms with paid employees (%)",Relative standard error of number of paid employees for pay period including March 12 (%),Relative standard error of annual payroll (%),Relative standard error of number of firms without paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms without paid employees (%)"
0,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,0,All firms,2007,382350,408238540,75272,394526507,1614098,55775009,307078,13712033,0,1,1,1,1,1,1,3
1,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,30,White,2007,305324,150719683,61769,138612841,815246,24977592,243555,12106842,1,1,1,1,2,1,1,4
2,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,40,Black or African American,2007,56712,2152418,2098,1258658,16724,372545,54614,893760,1,4,6,7,10,8,1,5
3,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,50,American Indian and Alaska Native,2007,3068,650084,422,553537,5254,138712,2646,96547,8,7,14,8,11,8,11,16
4,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,60,Asian,2007,6908,2620074,2447,2391748,17993,482413,4460,228326,5,7,4,7,6,5,7,11
5,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,61,Asian Indian,2007,1919,1285410,1233,1235610,9171,210345,686,49800,8,10,8,10,11,8,16,17
6,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,62,Chinese,2007,942,306809,365,278119,2550,82876,576,28690,10,12,12,12,17,5,14,35
7,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,63,Filipino,2007,309,92155,79,84113,871,44732,230,8042,20,27,28,30,31,21,25,42
8,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,64,Japanese,2007,415,49158,54,34568,342,8809,361,14590,18,21,46,32,61,57,24,39
9,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,65,Korean,2007,825,468435,288,446061,2955,85458,537,22374,11,23,11,24,14,16,17,17

In [5]:
#state, sector, gender owned, race,ethinicity
df_new=df[['State','Sector','Gender owned','Race', 'Ethnicity','Firms']]
df_new.head()

,State,Sector,Gender owned,Race,Ethnicity,Firms
0,Alabama,Total for all sectors,All firms,All firms,All firms,382350
1,Alabama,Total for all sectors,All firms,White,All firms,305324
2,Alabama,Total for all sectors,All firms,Black or African American,All firms,56712
3,Alabama,Total for all sectors,All firms,American Indian and Alaska Native,All firms,3068
4,Alabama,Total for all sectors,All firms,Asian,All firms,6908

In [27]:
df_b= df_new.loc[(df_new['Sector']=='Total for all sectors') &  (df_new['Race']=='All firms') &(df_new['Gender owned']=='All firms') & (df_new['Ethnicity']=='All firms')]
df_b['Firms']= df_b['Firms'].astype('int64')
df_b=df_b.sort_values('Firms', ascending= False)
df_b

C:\Users\tolania\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,State,Sector,Gender owned,Race,Ethnicity,Firms
11424,California,Total for all sectors,All firms,All firms,All firms,3425510
122808,Texas,Total for all sectors,All firms,All firms,All firms,2164852
25704,Florida,Total for all sectors,All firms,All firms,All firms,2009589
91392,New York,Total for all sectors,All firms,All firms,All firms,1956733
37128,Illinois,Total for all sectors,All firms,All firms,All firms,1123817
108528,Pennsylvania,Total for all sectors,All firms,All firms,All firms,981501
28560,Georgia,Total for all sectors,All firms,All firms,All firms,901105
99960,Ohio,Total for all sectors,All firms,All firms,All firms,897939
62832,Michigan,Total for all sectors,All firms,All firms,All firms,816972
94248,North Carolina,Total for all sectors,All firms,All firms,All firms,798791
85680,New Jersey,Total for all sectors,All firms,All firms,All firms,781622
131376,Virginia,Total for all sectors,All firms,All firms,All firms,638643
59976,Massachusetts,Total for all sectors,All firms,All firms,All firms,596790
134232,Washington,Total for all sectors,All firms,All firms,All firms,551340
14280,Colorado,Total for all sectors,All firms,All firms,All firms,547770
119952,Tennessee,Total for all sectors,All firms,All firms,All firms,545348
57120,Maryland,Total for all sectors,All firms,All firms,All firms,528112
71400,Missouri,Total for all sectors,All firms,All firms,All firms,501064
65688,Minnesota,Total for all sectors,All firms,All firms,All firms,496657
5712,Arizona,Total for all sectors,All firms,All firms,All firms,491529
39984,Indiana,Total for all sectors,All firms,All firms,All firms,482847
139944,Wisconsin,Total for all sectors,All firms,All firms,All firms,433797
0,Alabama,Total for all sectors,All firms,All firms,All firms,382350
51408,Louisiana,Total for all sectors,All firms,All firms,All firms,375808
114240,South Carolina,Total for all sectors,All firms,All firms,All firms,360397
105672,Oregon,Total for all sectors,All firms,All firms,All firms,348154
48552,Kentucky,Total for all sectors,All firms,All firms,All firms,337600
102816,Oklahoma,Total for all sectors,All firms,All firms,All firms,333797
17136,Connecticut,Total for all sectors,All firms,All firms,All firms,332150
42840,Iowa,Total for all sectors,All firms,All firms,All firms,259931
125664,Utah,Total for all sectors,All firms,All firms,All firms,246393
8568,Arkansas,Total for all sectors,All firms,All firms,All firms,238994
45696,Kansas,Total for all sectors,All firms,All firms,All firms,237040
68544,Mississippi,Total for all sectors,All firms,All firms,All firms,225977
79968,Nevada,Total for all sectors,All firms,All firms,All firms,221260
77112,Nebraska,Total for all sectors,All firms,All firms,All firms,159665
88536,New Mexico,Total for all sectors,All firms,All firms,All firms,157231
34272,Idaho,Total for all sectors,All firms,All firms,All firms,151671
54264,Maine,Total for all sectors,All firms,All firms,All firms,150389
82824,New Hampshire,Total for all sectors,All firms,All firms,All firms,137815
137088,West Virginia,Total for all sectors,All firms,All firms,All firms,120381
31416,Hawaii,Total for all sectors,All firms,All firms,All firms,120374
74256,Montana,Total for all sectors,All firms,All firms,All firms,114398
111384,Rhode Island,Total for all sectors,All firms,All firms,All firms,96822
128520,Vermont,Total for all sectors,All firms,All firms,All firms,78729
117096,South Dakota,Total for all sectors,All firms,All firms,All firms,76997
19992,Delaware,Total for all sectors,All firms,All firms,All firms,74573
2856,Alaska,Total for all sectors,All firms,All firms,All firms,68728
97104,North Dakota,Total for all sectors,All firms,All firms,All firms,61546
142800,Wyoming,Total for all sectors,All firms,All firms,All firms,61179
22848,District of Columbia,Total for all sectors,All firms,All firms,All firms,55887

In [72]:
len(df_new['Firms'])

145656

In [73]:
df_d= df_new.loc[(df_new['Sector']!='Total for all sectors')  &  (df_new['Race']=='All firms') &(df_new['Gender owned']=='All firms') & (df_new['Ethnicity']=='All firms')]
df_new['Firms']= df_new['Firms'].astype('int64')
#df_d=df_d.sort_values('Firms', ascending= False)
df_e=df_d.pivot_table(index=['State','Sector'], values =['Firms'],aggfunc=max)
#df_x=df_e.apply(np.max)
df_e
maxim =0
for index,row in df_e.iterrows():
    if  df_new['Firms'] > maxim:
         df_new['Firms']=maxim
    print(index, row['Firms'])

ValueError: invalid literal for int() with base 10: 'S'

In [ ]:
# Identify the top ten states where we have entrepreneurs and Identify the top ten sectors, 
#then group the sector by states and see if there is a story there.
# select the top 10 states by entre
df2=df.loc[df[''] & (df['Sector']=='Total for all sectors'),
#.groupby('Number of firms with or without paid employees')
#& df ['Number of firms with or without paid employees']& df['Geographic area name']
#&(df['Meaning of 2012 NAICS code']=="Total for all sectors")
df2

In [ ]:
# Identify the top ten states based on population and total number of revenue by states
states= ["California", "Texas", "Florida", "New York", "Pennsylvania", "Illinois", "Ohio", "Georgia", "North Carolina", "Michigan"]

In [ ]:
df.loc[df[:,"State"]]
df