In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import csv

In [6]:
# create file path
path_1 = os.path.join("Resources", "enter_2012.csv")
df = pd.DataFrame(pd.read_csv(path_1))
df.head()

,GEO.id,GEO.id2,GEO.display-label,NAICS.id,NAICS.display-label,SEX.id,SEX.display-label,ETH_GROUP.id,ETH_GROUP.display-label,RACE_GROUP.id,...,FIRMNOPD,RCPNOPD,FIRMALL_S,RCPALL_S,FIRMPDEMP_S,RCPPDEMP_S,EMP_S,PAYANN_S,FIRMNOPD_S,RCPNOPD_S
0,Geographic identifier code,Id2,Geographic area name,2012 NAICS code,Meaning of 2012 NAICS code,Gender code,Meaning of Gender code,Ethnicity code,Meaning of Ethnicity code,Race code,...,Number of firms without paid employees,"Sales, receipts, or value of shipments of firm...",Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or...",Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or...",Relative standard error of number of paid empl...,Relative standard error of annual payroll (%),Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or..."
1,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,00,...,306704,12689088,0.2,0.7,0.3,0.7,1.2,0.8,0.2,1.5
2,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,30,...,223716,10610757,0.4,1.9,0.6,2.0,2.5,1.8,0.4,2.3
3,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,40,...,71109,1131644,0.6,5.8,5.7,7.9,9.9,13.0,0.6,7.0
4,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,50,...,3427,91896,7.7,44.1,16.7,49.6,14.2,18.0,8.0,8.4

In [7]:
#delete the first row in the dataframe 
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0)).reset_index(drop=True)
df.columns.name = None

In [23]:
#rename the columns and pick out data we need 
data = df.rename(columns = {"Geographic area name":"State","Meaning of 2012 NAICS code":"Sector", 
                        "Meaning of Gender code":"Gender owned", "Meaning of Race code": "Race",
                         "Number of firms with or without paid employees":"Number of firms",
                         "Sales, receipts, or value of shipments of firms with or without paid employees ($1,000)":"Total Firm Sales",
                         "Number of firms with paid employees":"Paid Emp Firms", "Sales, receipts, or value of shipments of firms with paid employees ($1,000)":"Paid Emp sales",
                         "Annual payroll ($1,000)":"Annual Payroll", "Number of firms without paid employees":"Unpaid Emp Firms",
                         "Sales, receipts, or value of shipments of firms without paid employees ($1,000)": "Unpaid Emp Sales"
                        })
cols = [2,4,6,10,12,13,14,15,17,18,19]
new_data = data[data.columns[cols]]
new_data.head()

,State,Sector,Gender owned,Race,Number of firms,Total Firm Sales,Paid Emp Firms,Paid Emp sales,Annual Payroll,Unpaid Emp Firms,Unpaid Emp Sales
0,Alabama,Total for all sectors,All firms,All firms,374153,410217329,67449,397528241,57623419,306704,12689088
1,Alabama,Total for all sectors,All firms,White,279625,150946701,55909,140335944,25480546,223716,10610757
2,Alabama,Total for all sectors,All firms,Black or African American,73015,3087663,1907,1956020,436107,71109,1131644
3,Alabama,Total for all sectors,All firms,American Indian and Alaska Native,3895,1291808,468,1199912,169299,3427,91896
4,Alabama,Total for all sectors,All firms,Asian,9353,4617052,3431,4305282,769114,5922,311771