In [4]:
# import dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [18]:
# create file path
path_2 = "../Resources/enter_2012.csv"
df = pd.read_csv(path_2,skiprows =1)
# view the total list of columns
pd.options.display.max_columns = 100
print(pd.options.display.max_columns)
# view first 5 rows of the data
df.head()

,Geographic identifier code,Id2,Geographic area name,2012 NAICS code,Meaning of 2012 NAICS code,Gender code,Meaning of Gender code,Ethnicity code,Meaning of Ethnicity code,Race code,Meaning of Race code,Year,Number of firms with or without paid employees,"Sales, receipts, or value of shipments of firms with or without paid employees ($1,000)",Number of firms with paid employees,"Sales, receipts, or value of shipments of firms with paid employees ($1,000)",Number of paid employees for pay period including March 12,"Annual payroll ($1,000)",Number of firms without paid employees,"Sales, receipts, or value of shipments of firms without paid employees ($1,000)",Relative standard error of number of firms with or without paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms with or without paid employees (%)",Relative standard error of number of firms with paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms with paid employees (%)",Relative standard error of number of paid employees for pay period including March 12 (%),Relative standard error of annual payroll (%),Relative standard error of number of firms without paid employees (%),"Relative standard error of sales, receipts, or value of shipments of firms without paid employees (%)"
0,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,0,All firms,2012,374153,410217329,67449,397528241,1503375,57623419,306704,12689088,0.2,0.7,0.3,0.7,1.2,0.8,0.2,1.5
1,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,30,White,2012,279625,150946701,55909,140335944,742663,25480546,223716,10610757,0.4,1.9,0.6,2.0,2.5,1.8,0.4,2.3
2,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,40,Black or African American,2012,73015,3087663,1907,1956020,15814,436107,71109,1131644,0.6,5.8,5.7,7.9,9.9,13.0,0.6,7.0
3,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,50,American Indian and Alaska Native,2012,3895,1291808,468,1199912,4698,169299,3427,91896,7.7,44.1,16.7,49.6,14.2,18.0,8.0,8.4
4,0400000US01,1,Alabama,00,Total for all sectors,1,All firms,1,All firms,60,Asian,2012,9353,4617052,3431,4305282,27863,769114,5922,311771,2.9,3.2,4.3,3.5,5.2,8.9,2.7,7.1

100

In [16]:
df.head()

,GEO.id,GEO.id2,GEO.display-label,NAICS.id,NAICS.display-label,SEX.id,SEX.display-label,ETH_GROUP.id,ETH_GROUP.display-label,RACE_GROUP.id,RACE_GROUP.display-label,YEAR.id,FIRMALL,RCPALL,FIRMPDEMP,RCPPDEMP,EMP,PAYANN,FIRMNOPD,RCPNOPD,FIRMALL_S,RCPALL_S,FIRMPDEMP_S,RCPPDEMP_S,EMP_S,PAYANN_S,FIRMNOPD_S,RCPNOPD_S
0,Geographic identifier code,Id2,Geographic area name,2012 NAICS code,Meaning of 2012 NAICS code,Gender code,Meaning of Gender code,Ethnicity code,Meaning of Ethnicity code,Race code,Meaning of Race code,Year,Number of firms with or without paid employees,"Sales, receipts, or value of shipments of firm...",Number of firms with paid employees,"Sales, receipts, or value of shipments of firm...",Number of paid employees for pay period includ...,"Annual payroll ($1,000)",Number of firms without paid employees,"Sales, receipts, or value of shipments of firm...",Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or...",Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or...",Relative standard error of number of paid empl...,Relative standard error of annual payroll (%),Relative standard error of number of firms wit...,"Relative standard error of sales, receipts, or..."
1,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,00,All firms,2012,374153,410217329,67449,397528241,1503375,57623419,306704,12689088,0.2,0.7,0.3,0.7,1.2,0.8,0.2,1.5
2,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,30,White,2012,279625,150946701,55909,140335944,742663,25480546,223716,10610757,0.4,1.9,0.6,2.0,2.5,1.8,0.4,2.3
3,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,40,Black or African American,2012,73015,3087663,1907,1956020,15814,436107,71109,1131644,0.6,5.8,5.7,7.9,9.9,13.0,0.6,7.0
4,0400000US01,01,Alabama,00,Total for all sectors,001,All firms,001,All firms,50,American Indian and Alaska Native,2012,3895,1291808,468,1199912,4698,169299,3427,91896,7.7,44.1,16.7,49.6,14.2,18.0,8.0,8.4

In [12]:
#df[['RCPPDEMP_S','EMP_S']]# to call only columns we want

,RCPPDEMP_S,EMP_S
0,"Relative standard error of sales, receipts, or...",Relative standard error of number of paid empl...
1,0.7,1.2
2,2.0,2.5
3,7.9,9.9
4,49.6,14.2
5,3.5,5.2
6,4.5,10.3
7,9.0,13.2
8,13.9,14.9
9,8.0,14.9
10,10.7,10.5
11,21.6,20.2
12,23.0,18.0
13,7.6,47.4
14,7.8,53.5
15,S,S
16,44.8,46.8
17,0.0,0.0
18,44.8,23.3
19,8.0,6.3
20,28.6,18.2
21,2.1,2.6
22,1.9,2.4
23,0.3,0.4
24,4.0,12.2
25,4.0,11.4
26,33.8,67.4
27,26.4,8.4
28,49.2,55.7
29,S,S
...,...,...
145627,S,S
145628,S,S
145629,0.0,0.0
145630,0.0,0.0
145631,0.0,0.0
145632,0.0,0.0
145633,0.0,0.0
145634,0.0,0.0
145635,0.0,0.0
145636,0.0,0.0
145637,0.0,0.0
145638,0.0,0.0
145639,0.0,0.0
145640,0.0,0.0
145641,0.0,0.0
145642,0.0,0.0
145643,0.0,0.0
145644,0.0,0.0
145645,0.0,0.0
145646,0.0,0.0
145647,S,S
145648,0.0,0.0
145649,0.0,0.0
145650,0.0,0.0
145651,0.0,0.0
145652,0.0,0.0
145653,0.0,0.0
145654,S,S
145655,S,S
145656,S,S

In [ ]:
# Identify the top ten states based on population and total number of revenue by states
states= ["California", "Texas", "Florida", "New York", "Pennsylvania", "Illinois", "Ohio", "Georgia", "North Carolina", "Michigan"]
for state in Geographic area name:
    df
df_tenstates= df.